*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
.editorconfig
.vscode
*.log
*.pyc
*.exe
*.dll
*.licx
*.MANIFEST
src/audit.*
dist/*
build/dist/*
build/workpath/*
build/output/*
src/dist/*
src/build/*
src/conf/config.json
src/conf/dev.json
src/.vscode/
__pycache__/
src/tools/license/license.licx
src/flask_profiler.sql
src/log/app_log/*
src/log/running_log/*
src/temp/*
pack/dependencies/license/
pack/dependencies/utilities/
src/conf/dev.json
utils/InstanceSynchronisation/build/workpath
utils/AuthenticationSynchronisation/build/workpath
utils/AgentSynchronisation/build/workpath
utils/InstanceSynchronisation/server
utils/AuthenticationSynchronisation/server
utils/AgentSynchronisation/server
src/ATTRIB
src/ADT-INMEM
src/REPORT
src/run.py
viewenv
.coverage
htmlcov
docs/build
src/assets/css/*
src/docs/admin/build
src/docs/user/build
src/flask_session/*
env/